<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Zapomniałeś hasła - NoteMe</title>
    <meta name="title" content="NoteMe">
    <link rel="icon" type="image/png" sizes="16x16" href="img/noteme_icon/noteme_icon_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/noteme_icon/noteme_icon_32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="img/noteme_icon/noteme_icon_180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/noteme_icon/noteme_icon_192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="img/noteme_icon/noteme_icon_512.png">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css">
</head>

<body class="bg-gradient-primary" style="background: linear-gradient(-70deg, #43cbff, #9708cc);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-password-image" style="background-image: url(&quot;img/dogs/image1.jpeg&quot;);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-2">Zapomniałeś hasła?</h4>
                                        <p class="mb-4">Aby zresetować hasło, wprowadź adres e-mail, którego użyłeś podczas procesu rejestracji, a my wyślemy Ci link do resetu hasła.</p>
                                    </div>
                                    <div class="alert alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span><strong>Alert</strong> text.</span></div>
                                    <form class="user" action="/forgot-password" method="post">
                                        <div class="form-group"><input class="form-control form-control-user" type="email" id="email" aria-describedby="emailHelp" placeholder="Wprowadź adres e-mail" name="email" required=""></div><button class="btn btn-primary btn-block text-white btn-user" type="submit">Zresetuj hasło</button>
                                    </form>
                                    <div class="text-center">
                                        <hr><a class="small" href="/register">Zarejestruj się i utwórz konto</a>
                                    </div>
                                    <div class="text-center"><a class="small" href="/login">Masz już konto? Zaloguj się!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>